.restaurants-list {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 900px) {
  .restaurants-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .restaurants-list {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
